@font-face {
    font-family: 'Sequel Sans';
    src: url('/fonts/SequelSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sequel Sans';
    src: url('/fonts/SequelSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Sequel Sans';
    src: url('/fonts/Sequel Sans Light Body.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}
body {
    font-family: 'Sequel Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}
/* Hero Section with Slick Carousel */
.hero {
    position: relative;
    background-color: #f8f8f8;
    padding: 40px 0;
    text-align: center;
    margin-top: center;
}
.hero-slider {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.hero-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
.hero-slide img {
    width: 100%;
    height: auto;
}
.hero-slide .text {
    text-align: left;
    padding-left: 20px;
}
.hero-slide h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}
.hero-slide p {
    font-size: 18px;
    margin-top: 10px;
}
.slick-dots {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}
.slick-prev, .slick-next {
    top: 50%;
    z-index: 1;
}
.not{
    display: none;
}
/* Products Section */
.products {
    padding: 60px 5%;
}
.products h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    flex-wrap: wrap;
    gap: 8px;
    /* justify-content: space-between; */
}
.product-item {
    display: flex;
    border: 1px solid #333333;
    padding: 20px;
    margin-bottom: 30px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 6px; 
    border-color : #c5bbbb;
}
.product-item img {
    max-width: 100px;
    margin-bottom: 15px;
}
.product-item h1 {
    margin-left: 18px;
    font-size: 34px;
    margin-bottom: 10px;
    margin-top: -15px;
}
.product-item p {
    font-size: 16px;
    color: #333;
    margin-left: 20px;
    font-weight: bold;
}
.shop-links {
    display: flex;
    justify-content: center;
}
.shop-links a {
    display: inline-block;
    padding: 8px 15px;
    margin: 0 5px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.shop-links .shopee { background-color: #FF5722; }
.shop-links .tokopedia { background-color: #2FBF50; }
.shop-links .tiktok { background-color: #000; }

/* Alphabet Section */
.alphabet-section {
    text-align: center;
    padding: 40px;
}
.alphabet-section span {
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}
.alphabet-section span:hover {
    color: #888;
}

/* Footer Section */
.footer {
    text-align: center;
    padding: 40px;
    background-color: #fff;
}
.footer .whatsapp-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #25D366;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.footer .whatsapp-button:hover {
    background-color: #20b358;
}
#loadMore {
    width: 500px;
    color: #707070;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    transition: .3s;
    text-decoration: none;
    font-size: 36px;
}
#loadMore:hover {
    color: #111111;
    background-color: #fff;
    text-decoration: none;
}
.noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
}
/* hover */
.list-category {
    text-align: left;
}
.list-category a:first-child {
    text-decoration: none;
    color: #000000;
    padding: 1px;
    font-size: 38px;
}

.flexible-table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: separate; /* Menghilangkan jarak antara border tabel */
    border-spacing: -1000px;
    color: #707070;
    text-align: left; 
    font-weight: bold; 
    font-size: 18px;
}

.flexible-table td {
    border: 0px solid black; /* Menambahkan border pada sel */
    padding: 0px; /* Memberikan padding pada sel */
    height: 22px;
}

.space-table {
    font-size: 64px;
    color: #333;
}
.alphabet {
    text-decoration: none; 
    color: #707070;
}
.slick-prev:before, .slick-next:before {
    color: #000000 !important;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    z-index: 1000;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.modal-open {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        -webkit-transition: none;
        transition: none;
    }
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}

.modal-dialog-scrollable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}

.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
    content: none;
}

.modal-content {
    height: 1800px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-clip: padding-box;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: 0.5;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.alphabet {
    text-decoration: none; 
    color: gray;
    cursor: pointer;
}
.alphabet.active {
    text-decoration: underline; 
}
.modal img {
    box-shadow: 10px 19px 44px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 19px 44px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 19px 44px 1px rgba(0,0,0,0.75); 
    border-radius: 8px;
}

.search-bar i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 1.2em;
}
header .logo img {
    max-width: 120px; 
    max-height: 120px;
}
header .search-bar {
    position: relative;
}
header .search-bar input {
    width: 60%;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    border: 0
}

.search-bar input[type="text"] {
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
}

.search-bar .fa-search {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888; /* Warna ikon */
    cursor: pointer;
}
.select2-results__option img {
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.alphabet-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    flex-wrap: wrap;
    margin: auto;
    gap: 0 1px;
    text-align: left;
}
.list-grid {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.img-product {
    max-width: 100px; 
    max-height: 143px;
}
.load-more{
        font-family: Arial, sans-serif;
        font-size: 28px;
        margin-top: 20px;
        font-weight: normal;
        color: #656263;
    }
.mySlides{
    margin-top: 290px;
    margin-left: 645px !important;
    width:30%;
}

.title-alphabet{
    font-size: 80px; 
    margin: 0;
}

@media only screen and (max-width: 1700px) {
    header{
        max-width: 100%;
    }
    header .search-bar {
    flex-grow: 1;
    margin-left: 60px;
    position: relative;
    }
    header .search-bar{
        max-width: 45%;
    }
    header .logo img {
        max-width: 100px; 
        max-height: 100px;
    }
    .products h2{
        font-size: 28px;
    }
    .not{
    display: none;
    }
    /* Products Section */
    .products {
        padding: 0px 3%;
    }
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        /* Three columns, each 150px wide */
        flex-wrap: wrap;
        gap: 8px;
        /* justify-content: space-between; */
    }
    .product-item {
        /* max-width: 200px; */
        display: flex;
        border: 1px solid #333333;
        margin-bottom: 30px;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease;
        align-items: center;
        /* height: 300px; */
    }
    .product-item img {
        /* max-width: 200px; */
        margin-bottom: 0;
        padding-left: 20%;
    }
    .product-item h1 {
        margin-left: 0px;
        font-size: 28px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .product-item p {
        font-size: 16px;
        color: #333;
        margin-left: 0px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .shop-links {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        left: 0;
        /* justify-content: left; */
    }
    .shop-links a {
        display: inline-block;
        padding: 3px 13px;
        margin: 0;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    .shop-links .shopee { background-color: #FF5722; }
    .shop-links .tokopedia { background-color: #2FBF50; }
    .shop-links .tiktok { background-color: #000; }
    .img-icon { max-width: 80px;}
    #loadMore {
        width: 370px;
        color: #707070;
        display: block;
        text-align: center;
        margin: 20px auto;
        padding: 10px;
        transition: .3s;
        text-decoration: none;
        font-size: 20px;
    }
    #loadMore:hover {
        color: #111111;
        background-color: #fff;
        text-decoration: none;
    }
    .load-more{
        font-family: Arial, sans-serif;
        font-size: 20px;
        margin-top: 20px;
        font-weight: normal;
        color: #656263;
    }
    .flexible-table {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        border-collapse: separate; /* Menghilangkan jarak antara border tabel */
        border-spacing: -1000px;
        color: #707070;
        text-align: left; 
        font-weight: bold; 
        font-size: 18px;
    }

    .flexible-table td {
        border: 0px solid black; /* Menambahkan border pada sel */
        padding: 0px; /* Memberikan padding pada sel */
        height: 22px;
    }
    .alphabet-grid {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        flex-wrap: wrap;
        margin: auto;
        gap: 0 0px;
        text-align: left;
    }
    .list-grid {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        
    }
    .title-alphabet{
        font-size: 80px; 
        margin: 0;
    }
    .footer {
        text-align: center;
        padding: 40px;
        background-color: #fff;
    }
    .footer .whatsapp-button {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: #25D366;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
    }
    .footer .whatsapp-button:hover {
        background-color: #20b358;
    }
    .footer img{
        width: 100px;
    }    
    .hero {
        position: relative;
        background-color: #f8f8f8;
        padding-top: 40px;
        text-align: center;
        margin-top: center;
        /* padding-left: 10px; */
    }
    .hero-slider {
        width: 87%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .hero-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
    }
    .hero-slide img {
        width: 100%;
        height: auto;
    }
    .hero-slide .text {
        text-align: left;
        padding-left: 20px;
    }
    .hero-slide h1 {
        font-size: 28px;
        font-weight: 700;
        margin: 0;
    }
    .hero-slide p {
        font-size: 18px;
        margin-top: 10px;
    }
    .slick-dots {
        position: absolute;
        bottom: 10px;
        text-align: center;
        width: 100%;
    }
    .slick-prev, .slick-next {
        top: 50%;
        z-index: 1;
    }
}
@media only screen and (max-width: 1400px) {
    header{
        max-width: 100%;
    }
    header .search-bar {
    flex-grow: 1;
    margin-left: 60px;
    position: relative;
    }
    header .search-bar{
        max-width: 45%;
    }
    header .logo img {
        max-width: 100px; 
        max-height: 100px;
    }
    .products h2{
        font-size: 28px;
    }
    .not{
    display: none;
    }
    /* Products Section */
    .products {
        padding: 0px 3%;
    }
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        /* Three columns, each 150px wide */
        flex-wrap: wrap;
        gap: 8px;
        /* justify-content: space-between; */
    }
    .product-item {
        /* max-width: 200px; */
        display: flex;
        border: 1px solid #333333;
        margin-bottom: 30px;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease;
        align-items: center;
        /* height: 300px; */
    }
    .product-item img {
        /* max-width: 200px; */
        margin-bottom: 0;
        padding-left: 20%;
    }
    .product-item h1 {
        margin-left: 0px;
        font-size: 28px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .product-item p {
        font-size: 16px;
        color: #333;
        margin-left: 0px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .shop-links {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        left: 0;
        /* justify-content: left; */
    }
    .shop-links a {
        display: inline-block;
        padding: 3px 13px;
        margin: 0;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    .shop-links .shopee { background-color: #FF5722; }
    .shop-links .tokopedia { background-color: #2FBF50; }
    .shop-links .tiktok { background-color: #000; }
    .img-icon { max-width: 50px !important;}
    #loadMore {
        width: 370px;
        color: #707070;
        display: block;
        text-align: center;
        margin: 20px auto;
        padding: 10px;
        transition: .3s;
        text-decoration: none;
        font-size: 20px;
    }
    #loadMore:hover {
        color: #111111;
        background-color: #fff;
        text-decoration: none;
    }
    .load-more{
        font-family: Arial, sans-serif;
        font-size: 20px;
        margin-top: 20px;
        font-weight: normal;
        color: #656263;
    }
    .flexible-table {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        border-collapse: separate; /* Menghilangkan jarak antara border tabel */
        border-spacing: -1000px;
        color: #707070;
        text-align: left; 
        font-weight: bold; 
        font-size: 18px;
    }

    .flexible-table td {
        border: 0px solid black; /* Menambahkan border pada sel */
        padding: 0px; /* Memberikan padding pada sel */
        height: 22px;
    }
    .alphabet-grid {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        flex-wrap: wrap;
        margin: auto;
        gap: 0 0px;
        text-align: left;
    }
    .list-grid {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        
    }
    .title-alphabet{
        font-size: 80px; 
        margin: 0;
    }
    .footer {
        text-align: center;
        padding: 40px;
        background-color: #fff;
    }
    .footer .whatsapp-button {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: #25D366;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
    }
    .footer .whatsapp-button:hover {
        background-color: #20b358;
    }
    .footer img{
        width: 100px;
    }    
    .hero {
        position: relative;
        background-color: #f8f8f8;
        padding-top: 40px;
        text-align: center;
        margin-top: center;
        /* padding-left: 10px; */
    }
    .hero-slider {
        width: 87%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .hero-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
    }
    .hero-slide img {
        width: 100%;
        height: auto;
    }
    .hero-slide .text {
        text-align: left;
        padding-left: 20px;
    }
    .hero-slide h1 {
        font-size: 28px;
        font-weight: 700;
        margin: 0;
    }
    .hero-slide p {
        font-size: 18px;
        margin-top: 10px;
    }
    .slick-dots {
        position: absolute;
        bottom: 10px;
        text-align: center;
        width: 100%;
    }
    .slick-prev, .slick-next {
        top: 50%;
        z-index: 1;
    }
}
@media only screen and (max-width: 650px) {
    header{
        max-width: 100%;
    }
    header .search-bar {
    flex-grow: 1;
    margin-left: 60px;
    position: relative;
    }
    header .search-bar{
        max-width: 60%;
    }
    header .logo img {
        max-width: 100px; 
        max-height: 100px;
    }
    .products h2{
        font-size: 28px;
    }
    .not{
    display: none;
    }
    /* Products Section */
    .products {
        padding: 0px 3%;
    }
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        /* Three columns, each 150px wide */
        flex-wrap: wrap;
        gap: 8px;
        /* justify-content: space-between; */
    }
    .product-item {
        display: block;
        border: 1px solid #333333;
        margin-bottom: 30px;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease;
        align-items: center;
        height: 300px;
    }
    .product-item img {
        max-width: 200px;
        margin-bottom: 0;
        padding-left: 20%;
    }
    .product-item h1 {
        margin-left: 0px;
        font-size: 28px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .product-item p {
        font-size: 16px;
        color: #333;
        margin-left: 0px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .shop-links {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        left: 0;
        /* justify-content: left; */
    }
    .shop-links a {
        display: inline-block;
        padding: 3px 13px;
        margin: 0;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    .shop-links .shopee { background-color: #FF5722; }
    .shop-links .tokopedia { background-color: #2FBF50; }
    .shop-links .tiktok { background-color: #000; }
    .shop-links img { max-width: 30px;}
    #loadMore {
        width: 370px;
        color: #707070;
        display: block;
        text-align: center;
        margin: 20px auto;
        padding: 10px;
        transition: .3s;
        text-decoration: none;
        font-size: 20px;
    }
    #loadMore:hover {
        color: #111111;
        background-color: #fff;
        text-decoration: none;
    }
    .load-more{
        font-family: Arial, sans-serif;
        font-size: 20px;
        margin-top: 20px;
        font-weight: normal;
        color: #656263;
    }
    .flexible-table {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        border-collapse: separate; /* Menghilangkan jarak antara border tabel */
        border-spacing: -1000px;
        color: #707070;
        text-align: left; 
        font-weight: bold; 
        font-size: 18px;
    }

    .flexible-table td {
        border: 0px solid black; /* Menambahkan border pada sel */
        padding: 0px; /* Memberikan padding pada sel */
        height: 22px;
    }
    .alphabet-grid {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        flex-wrap: wrap;
        margin: auto;
        gap: 0 0px;
        text-align: left;
    }
    .list-grid {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        
    }
    .title-alphabet{
        font-size: 80px; 
        margin: 0;
    }
    .footer {
        text-align: center;
        padding: 40px;
        background-color: #fff;
    }
    .footer .whatsapp-button {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: #25D366;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
    }
    .footer .whatsapp-button:hover {
        background-color: #20b358;
    }
    .footer img{
        width: 100px;
    }    
    .hero {
        position: relative;
        background-color: #f8f8f8;
        padding-top: 40px;
        text-align: center;
        margin-top: center;
        /* padding-left: 10px; */
    }
    .hero-slider {
        width: 87%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .hero-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
    }
    .hero-slide img {
        width: 100%;
        height: auto;
    }
    .hero-slide .text {
        text-align: left;
        padding-left: 20px;
    }
    .hero-slide h1 {
        font-size: 28px;
        font-weight: 700;
        margin: 0;
    }
    .hero-slide p {
        font-size: 18px;
        margin-top: 10px;
    }
    .slick-dots {
        position: absolute;
        bottom: 10px;
        text-align: center;
        width: 100%;
    }
    .slick-prev, .slick-next {
        top: 50%;
        z-index: 1;
    }
}

@media only screen and (max-width: 550px) {
    header{
        max-width: 100%;
    }
    header .search-bar {
    flex-grow: 1;
    margin-left: 60px;
    position: relative;
    }
    header .search-bar{
        max-width: 60%;
    }
    header .logo img {
        max-width: 100px; 
        max-height: 100px;
    }
    .products h2{
        font-size: 28px;
    }
    .not{
    display: none;
    }
    /* Products Section */
    .products {
        padding: 0px 3%;
    }
    .product-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        /* Three columns, each 150px wide */
        flex-wrap: wrap;
        gap: 8px;
        /* justify-content: space-between; */
    }
    .product-item {
        display: block;
        border: 1px solid #333333;
        margin-bottom: 30px;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease;
        align-items: center;
        height: 300px;
    }
    .product-item img {
        max-width: 200px;
        margin-bottom: 0;
        padding-left: 20%;
    }
    .product-item h1 {
        margin-left: 0px;
        font-size: 28px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .product-item p {
        font-size: 16px;
        color: #333;
        margin-left: 0px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .shop-links {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        left: 0;
        /* justify-content: left; */
    }
    .shop-links a {
        display: inline-block;
        padding: 3px 13px;
        margin: 0;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    .shop-links .shopee { background-color: #FF5722; }
    .shop-links .tokopedia { background-color: #2FBF50; }
    .shop-links .tiktok { background-color: #000; }
    .shop-links img { max-width: 30px;}
    #loadMore {
        width: 370px;
        color: #707070;
        display: block;
        text-align: center;
        margin: 20px auto;
        padding: 10px;
        transition: .3s;
        text-decoration: none;
        font-size: 20px;
    }
    #loadMore:hover {
        color: #111111;
        background-color: #fff;
        text-decoration: none;
    }
    .load-more{
        font-family: Arial, sans-serif;
        font-size: 20px;
        margin-top: 20px;
        font-weight: normal;
        color: #656263;
    }
    .flexible-table {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        border-collapse: separate; /* Menghilangkan jarak antara border tabel */
        border-spacing: -1000px;
        color: #707070;
        text-align: left; 
        font-weight: bold; 
        font-size: 18px;
    }

    .flexible-table td {
        border: 0px solid black; /* Menambahkan border pada sel */
        padding: 0px; /* Memberikan padding pada sel */
        height: 22px;
    }
    .alphabet-grid {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        flex-wrap: wrap;
        margin: auto;
        gap: 0 0px;
        text-align: left;
    }
    .list-grid {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        
    }
    .title-alphabet{
        font-size: 80px; 
        margin: 0;
    }
    .footer {
        text-align: center;
        padding: 40px;
        background-color: #fff;
    }
    .footer .whatsapp-button {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: #25D366;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
    }
    .footer .whatsapp-button:hover {
        background-color: #20b358;
    }
    .footer img{
        width: 100px;
    }    
    .hero {
        position: relative;
        background-color: #f8f8f8;
        padding-top: 40px;
        text-align: center;
        margin-top: center;
        /* padding-left: 10px; */
    }
    .hero-slider {
        width: 87%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .hero-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
    }
    .hero-slide img {
        width: 100%;
        height: auto;
    }
    .hero-slide .text {
        text-align: left;
        padding-left: 20px;
    }
    .hero-slide h1 {
        font-size: 28px;
        font-weight: 700;
        margin: 0;
    }
    .hero-slide p {
        font-size: 18px;
        margin-top: 10px;
    }
    .slick-dots {
        position: absolute;
        bottom: 10px;
        text-align: center;
        width: 100%;
    }
    .slick-prev, .slick-next {
        top: 50%;
        z-index: 1;
    }
}
@media only screen and (max-width: 350px) {
    header{
        max-width: 100%;
    }
    header .search-bar {
    flex-grow: 1;
    margin-left: 60px;
    position: relative;
    }
    header .search-bar{
        max-width: 60%;
    }
    header .logo img {
        max-width: 100px; 
        max-height: 100px;
    }
    .products h2{
        font-size: 28px;
    }
    .not{
    display: none;
    }
    /* Products Section */
    .products {
        padding: 0px 3%;
    }
    .product-grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        /* Three columns, each 150px wide */
        flex-wrap: wrap;
        gap: 8px;
        /* justify-content: space-between; */
    }
    .product-item {
        display: block;
        border: 1px solid #333333;
        margin-bottom: 30px;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease;
        align-items: center;
        width: 100%;
    }
    .product-item img {
        /* max-width: 200px; */
        margin-bottom: 0;
        padding-left: 20%;
    }
    .product-item h1 {
        margin-left: 0px;
        font-size: 28px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .product-item p {
        font-size: 16px;
        color: #333;
        margin-left: 0px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .shop-links {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        left: 0;
        /* justify-content: left; */
    }
    .shop-links a {
        display: inline-block;
        padding: 3px 13px;
        margin: 0;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    .shop-links .shopee { background-color: #FF5722; }
    .shop-links .tokopedia { background-color: #2FBF50; }
    .shop-links .tiktok { background-color: #000; }
    .shop-links img { max-width: 30px;}
    #loadMore {
        width: 370px;
        color: #707070;
        display: block;
        text-align: center;
        margin: 20px auto;
        padding: 10px;
        transition: .3s;
        text-decoration: none;
        font-size: 20px;
    }
    #loadMore:hover {
        color: #111111;
        background-color: #fff;
        text-decoration: none;
    }
    .load-more{
        font-family: Arial, sans-serif;
        font-size: 20px;
        margin-top: 20px;
        font-weight: normal;
        color: #656263;
    }
    .flexible-table {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        border-collapse: separate; /* Menghilangkan jarak antara border tabel */
        border-spacing: -1000px;
        color: #707070;
        text-align: left; 
        font-weight: bold; 
        font-size: 18px;
    }

    .flexible-table td {
        border: 0px solid black; /* Menambahkan border pada sel */
        padding: 0px; /* Memberikan padding pada sel */
        height: 22px;
    }
    .alphabet-grid {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        flex-wrap: wrap;
        margin: auto;
        gap: 0 0px;
        text-align: left;
    }
    .list-grid {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        
    }
    .title-alphabet{
        font-size: 80px; 
        margin: 0;
    }
    .footer {
        text-align: center;
        padding: 40px;
        background-color: #fff;
    }
    .footer .whatsapp-button {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: #25D366;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
    }
    .footer .whatsapp-button:hover {
        background-color: #20b358;
    }
    .footer img{
        width: 100px;
    }    
    .hero {
        position: relative;
        background-color: #f8f8f8;
        padding-top: 40px;
        text-align: center;
        margin-top: center;
        /* padding-left: 10px; */
    }
    .hero-slider {
        width: 87%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .hero-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
    }
    .hero-slide img {
        width: 100%;
        height: auto;
    }
    .hero-slide .text {
        text-align: left;
        padding-left: 20px;
    }
    .hero-slide h1 {
        font-size: 28px;
        font-weight: 700;
        margin: 0;
    }
    .hero-slide p {
        font-size: 18px;
        margin-top: 10px;
    }
    .slick-dots {
        position: absolute;
        bottom: 10px;
        text-align: center;
        width: 100%;
    }
    .slick-prev, .slick-next {
        top: 50%;
        z-index: 1;
    }
}